.selected-attractions {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.selected-attractions ul {
  list-style-type: none;
  padding: 0;
}

.selected-attractions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.selected-attractions li:last-child {
  border-bottom: none;
}

.selected-attractions button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.selected-attractions button:hover {
  background-color: #d32f2f;
  
}

.selected-attractions p {
  font-size: 18px;
  margin-top: 20px;
}